# ignore local R files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore .bat file until fixed
*.bat

# ignore osm shapefiles, temp files
**/osm_formatted_unbuffered*
data/outputs/temp/*

# ignore temp files (starting w/ "~")
~* 

# ignore personal api tokens and email creds
local-token.txt
email.txt

# keep the some empty folders but not data, download through script
data/daymet/*
!data/daymet/.gitkeep 

data/landsat/*
!data/landsat/.gitkeep 

data/outputs/temp/*
!data/outputs/temp/.gitkeep 

data/daymet/*
!data/daymet/.gitkeep 

data/outputs/1D-heat-model-runs/*
figures/1D-heat-model-runs/*

figures/landsat/*
