# ignore local R files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore .bat file until fixed
*.bat

# ignore osm shapefiles, temp files
**/osm_formatted_unbuffered*
data/outputs/temp/*

# ignore temp files (starting w/ "~")
~* 

# ignore my api token
local-token.txt

# keep the daymet folder but not data, download through script
data/daymet/*
!data/daymet/.gitkeep 

# ignore 1D-heat-model runs (figs & data)
data/outputs/1D-heat-model-runs/*
figures/1D-heat-model-runs/*

# packrat ignore
packrat/lib*/
